html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.container {
  min-height: 100%;
  position: relative;
  margin: 0px 10px;
}

.title {
  padding: 15px 0px;
}

.myClass1 {
  padding: 10px 20px;
  border: 1px solid green;
  position: absolute;
  left: 0;
  right: 0;
}

.myClass2 {
  width: 335px;
  padding: 50px;
  border: 1px solid red;
  position: absolute;
  right: 0px;
  top: 140px;
}

.myClass3 {
  width: 335px;
  padding: 50px;
  border: 1px solid blue;
  position: absolute;
  left: 0px;
  top: 560px;
}

.myOverlay {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  top: 0;
  bottom: 0;
  background-color: midnightblue;
  opacity: 0.5;
  z-index: 9;
}

.highlight {
  z-index: 99;
  position: absolute;
  background: #fff;
}

.toolTip {
  background-color: White;
  position: absolute;
  text-align: center;
  z-index: 99;
  padding: 7px;
  border-radius: 5px;
}

.toolTip::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
}